body {
    background-color: #8b7a3e;
    color: #2f0505;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    
}

#container {
    background-color: #fafad4;
    padding: 30px;
    width: 900px;
    margin: 0 auto;
    border: solid 5px #f7dd7f;
}
h1 {
    color: #FFFFFF;
    background-color: #5e4b06;
    border: solid 10px #5e4b06;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}
h2 {
    color: #5e4b06;
    background-color: #f7dd7f;
    border: solid 3px #5e4b06;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
    border-radius: 30px;
}
p{
    line-height: 2.25em;
}
img {
    width:300px;
    float:left;
    border: solid 3px #5e4b06;
    border-radius: 9px;
    margin-right: 20px;

}

#guitarpic {
    float: right;
}

.highlight {
    background-color: #ffe586;
}
a:link {
    color: #ca8310;
}

a:visited {
    color: #81602b;
}

a:hover {
    color: #ff6e13;
}

img:hover {
    border: groove 3px gold;

}

#sidebar {
    background-color: gold;
    border: solid white 3px;
    padding: 10px;
    width: 170px;
    float: right;
    margin-left: 20px;
}

#sidebar h3 {
    padding: 5px;
    border-width: 5px;
    padding-left: 20px;
}

ul{
    line-height: 1.75em;
}

@media (max-width:1200px){
    #container{
        width: 800px;
    }
}
@media (max-width:992px){
    #container{
        width: 100%;
        margin:0;
        padding:0;
        border:none;
    }
}

body{
    padding:5px;
}

@media (max-width: 768px){
    #sidebar{
        display:none;
    }
}